<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/studentstyle.css" />
  </head>
  <body>
    <div
      id="studentRollNumber"
      data-roll-number="<%= studentRollNumber %>"
    ></div>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="logo">
        <img
          src="https://play-lh.googleusercontent.com/WBg_1p45pBbDJnMB2Etw8GUrYo1eleZgeYzqr5d5Z5J-ROvve5JfXjHYNstD43fdGII"
          alt="MJCET"
        />
      </div>
      <div class="welcome-text">Welcome, <%= studentName %></div>
    </nav>
    <!-- Red Banner for Low Attendance -->
    <div
      id="lowAttendanceBanner"
      class="attendance-banner"
      style="display: none"
    >
      <p>YOU HAVE LOW ATTENDANCE. ATTEND CLASSES REGULARLY!</p>
    </div>

    <!-- Green Banner for High Attendance -->
    <div
      id="highAttendanceBanner"
      class="attendance-banner"
      style="display: none"
    >
      <p>YOUR ATTENDANCE RECORD IS EXCELLENT. GOOD JOB!</p>
    </div>

    <!-- Body -->
    <div class="dashboard-container">
      <!-- Display student information -->
      <div class="student-info">
        <div class="child info">
          <h2>Student Information</h2>
          <p>Name: <%= studentName %></p>
          <p>Roll Number: <%= studentRollNumber %></p>
          <p>Class: <%= studentClass %></p>
          <!-- Display total attended classes -->
          <p>Total Attended Classes: <%= studentTotalAttendedClasses %></p>
          <p></p>
        </div>
        <!--TEMP-->
        <div class="progress-ring-container child">
          <div class="progress-ring">
            <svg width="200" height="200">
              <!-- Adjust width and height as needed -->
              <defs>
                <linearGradient
                  id="progressGradient"
                  x1="0%"
                  y1="0%"
                  x2="100%"
                  y2="0%"
                >
                  <stop offset="0%" stop-color="#6448e0" />
                  <stop offset="100%" stop-color="#007bff" />
                </linearGradient>
              </defs>

              <circle
                class="progress-ring-outline"
                stroke="#333"
                stroke-width="4"
                fill="none"
                r="85"
                cx="100"
                cy="100"
              ></circle>

              <circle
                class="progress-ring-circle"
                stroke="url(#progressGradient)"
                stroke-width="15"
                fill="none"
                r="75"
                cx="100"
                cy="100"
                transform="rotate(-90 100 100)"
              ></circle>

              <circle
                class="progress-ring-inner-outline"
                stroke="#333"
                stroke-width="4"
                fill="none"
                r="65"
                cx="100"
                cy="100"
              ></circle>

              <!-- Mark at 75% -->
              <line
                x1="100"
                y1="33"
                x2="100"
                y2="17"
                stroke="red"
                stroke-width="3"
                transform="rotate(-90 100 100)"
              />
            </svg>

            <div class="progress-ring-text">
              <span class="progress-percent">0%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Day Wise Attendance Table -->
      <div class="attendance-table">
        <h2>Day Wise Attendance</h2>
        <table>
          <!-- Table headers -->
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Day and Date</th>
              <th>Number of Classes Attended</th>
              <th>Total Number of Periods</th>
              <th>Attendance Percentage</th>
            </tr>
          </thead>
          <!-- Table data will be populated dynamically from the backend -->
          <tbody id="dayWiseAttendance">
            <!-- Data will be inserted here -->
          </tbody>
        </table>
      </div>
    </div>

    <script>
      const studentRollNumber = document
        .getElementById("studentRollNumber")
        .getAttribute("data-roll-number")

      document.addEventListener("DOMContentLoaded", function () {
        // Function to fetch and update day-wise attendance data
        function updateDayWiseAttendance() {
          // Replace with the actual route for fetching day-wise attendance data
          const fetchUrl = `/api/getDayWiseAttendance/${studentRollNumber}`

          // Make an AJAX request to fetch day-wise attendance data
          fetch(fetchUrl)
            .then((response) => response.json())
            .then((data) => {
              console.log("Fetched data:", data) // Log the fetched data to the console
              // Clear existing rows in the table
              const tbody = document.getElementById("dayWiseAttendance")
              tbody.innerHTML = ""

              data.sort(
                (a, b) => new Date(b.dayAndDate) - new Date(a.dayAndDate)
              )

              // Variables to calculate sum and total classes attended
              //let sumPercentage = 0;
              let totalClassesAttended = 0
              //const dwattendance=((entry.totalClassesAttended)/entry.totalNumberOfPeriods)*100;
              // Populate the table with fetched data

              data.forEach((entry, index) => {
                const dwattendance = (
                  (entry.totalClassesAttended / entry.totalNumberOfPeriods) *
                  100
                ).toFixed(2)
                const row = document.createElement("tr")
                row.innerHTML = `
                <td>${index + 1}</td>
                <td>${entry.dayAndDate}</td>
                <td>${entry.totalClassesAttended}</td>
                <td>${entry.totalNumberOfPeriods}</td>
                <td>${dwattendance}%</td>
              `
                tbody.appendChild(row)

                //totalNumberOfPeriods+=entry.totalNumberOfPeriods;
              })

              // Calculate average attendance percentage
              const averagePercentage =
                `<%= studentTotalAttendedClasses %>` > 0
                  ? (
                      (`<%= studentTotalAttendedClasses %>` /
                        `<%= totalPeriodsTaken %>`) *
                      100
                    ).toFixed(2)
                  : 0

              // Display the total attended classes and average percentage in student information
              const totalClassesElement = document.querySelector(
                ".student-info p:nth-child(6)"
              )
              totalClassesElement.innerHTML = ` Average Attendance Percentage: ${averagePercentage}%`

              // Update the progress ring with the average percentage
              const progressBar = document.querySelector(
                ".progress-ring-circle"
              )
              const progressPercent =
                document.querySelector(".progress-percent")

              function updateProgress(percent) {
                const circumference =
                  2 * Math.PI * progressBar.getAttribute("r")
                const offset = circumference - (percent / 100) * circumference

                progressBar.style.strokeDasharray = circumference
                progressBar.style.strokeDashoffset = offset
                progressPercent.textContent = percent + "%"
              }

              updateProgress(averagePercentage)

              // Show/hide attendance banners based on attendance percentage
              const lowAttendanceBanner = document.getElementById(
                "lowAttendanceBanner"
              )
              const highAttendanceBanner = document.getElementById(
                "highAttendanceBanner"
              )

              if (averagePercentage < 75) {
                lowAttendanceBanner.style.display = "block"
                highAttendanceBanner.style.display = "none"
              } else {
                lowAttendanceBanner.style.display = "none"
                highAttendanceBanner.style.display = "block"
              }
            })
            .catch((error) =>
              console.error("Error fetching day-wise attendance:", error)
            )
        }

        // Initial call to fetch and update day-wise attendance data
        updateDayWiseAttendance()
      })
    </script>
  </body>
</html>
